<div class="home__container">
  <app-card
    gameCover="../../../assets/bt-5.jpg"
    gameLabel="Exclusive"
    gamePrice="129,00"
    gameType="PC"

  ></app-card>
  <app-card
    gameCover="../../../assets/ac-cover.jpg"
    gameLabel="Digital"
    gamePrice="199,99"
    gameType="Digital | PS5"
  ></app-card>

  <app-card
  gameCover="../../../assets/bt-1.jpg"
  gameLabel="Digital"
  gamePrice="199,99"
  gameType="Digital | PS5"
></app-card>

<app-card
gameCover="../../../assets/bt-hardline.jpg"
gameLabel="Digital"
gamePrice="199,99"
gameType="Digital | PS5"
></app-card>

<app-card
gameCover="../../../assets/bt-bad-company-2.jpg"
gameLabel="Digital"
gamePrice="199,99"
gameType="Digital | PS5"
></app-card>
</div>
